
.new-navbar {
    height: 25px;
    display: flex;
    align-items: center; 
    padding: 10px 20px;
    background-color: black; 
}
.nav-item-left{
    width: 350px;
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
}
.nav-item-right{
    width: 1000px;
    padding-right: 100px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.nav-item-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-item-logo img {
    vertical-align: middle;
    width: 25px;
    height: 25px;
}
p{
    font-weight: bold;
    color: white;
}
.green-par{
    color: #008631;
}
.image img {
    vertical-align: middle; 
}

.background-div {
    height: 100vh;
    background-image: url(BG1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-left: 100px; 
}

.nav {
    height: 70px;
    padding-left: 100px;
    background-color: white;
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav input {
    padding: 15px;
    width: 230px;
    height: 32px;

}

.nav-btn {
    border: none;
    background-color: white;
    font-weight: 200px;
}
.getstart{
    margin-left: auto;
    padding-right: 100px;
}
.start-btn {
    width: 100px;
    height: 35px;
    border: 2px solid green; 
    background-color: green;
    border-radius: 10px; 
    color: white;
    font-weight: bold   ;
}

.form-body {
    width: 450px;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
}

.input-label {
    padding-left: 10px;
}

h1 {
    text-align: center;
}

label {
    margin-top: 2px;
    display: block;
    font-weight: bold;
}
.down-arrow
{
    font-size: 16px;
} 

.input-form {
    width: 90%;
    padding: 0.5em;
    box-sizing: border-box;
}
.forget-pass {
    text-align: right;
    color: rgb(77, 77, 228);
    font-weight: 600;
    border: none;
    background-color: white;
    margin-bottom: 10px;
}

.login-btn {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 90%;
    height: 35px;
    background-color: rgba(0, 0, 255, 0.1) ;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 5px;
    color: white;
}
.login-btn img{
    margin-left: 6px; 
}

.loginwith {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center; 
}

.second-btn {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 210px;
    border: 2px solid #00000038;
    background-color: white; 
    padding: 10px; 
    border-radius: 5px; 

}

.second-btn img {
    margin-right: 10px; 
}
